@font-face {
  font-family: Redkost;
  src: url(Redkost.otf);
}

html {
	text-align: center;
	font-family: Redkost;
}

p {
	margin-bottom: 0.2vh;
	margin-top: 0;
}

img {
	margin: 4vh;
	max-width: 60%;
	max-height: 18vh;
	align-content: center;
}

.location {
	font-size: 4vh;
}

.timezone {
	font-size: 2.8vh;
	margin-bottom: 1.5vh;
}

.date {
	font-size: 2.4vh;
}

.time {
	font-size: 4vh;
	margin-bottom: 4.5vh;
}